.vue-query-builder-styled .vqb-group .rule-actions {
    margin-bottom: 15px;
    margin-top: 5px;
}

.vue-query-builder-styled .vqb-rule {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 15px
}

.vue-query-builder-styled .vqb-rule label {
    margin-right: 10px
}

.vue-query-builder-styled .vqb-group.depth-1 .vqb-rule,
.vue-query-builder-styled .vqb-group.depth-2 {
    border-left: 2px solid #8bc34a
}

.vue-query-builder-styled .vqb-group.depth-2 .vqb-rule,
.vue-query-builder-styled .vqb-group.depth-3 {
    border-left: 2px solid #00bcd4
}

.vue-query-builder-styled .vqb-group.depth-3 .vqb-rule,
.vue-query-builder-styled .vqb-group.depth-4 {
    border-left: 2px solid #ff5722
}

.vue-query-builder-styled .close {
    opacity: 1;
    color: #969696
}

@media (min-width:768px) {
    .vue-query-builder-styled .vqb-rule.form-inline .form-group {
        display: block
    }
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
}

// bootcss
.btn {
    display: inline-block;
    padding: 3px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    outline: none;
}
.btn-default {
    margin-right: 8px;
    &:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }
}
.form-control {
    height: 28px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-right: 8px;
    outline: none;
}
.form-group {
    label {
        margin-right: 8px;
    }
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-body {
    padding: 10px 15px;
}
.panel-default {
    border-color: #ddd;
    >.panel-heading {
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.pull-right {
    float: right!important;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    outline: none;
}