<template>
<div class="field-container">
    <!-- primarykey -->
    <router-link v-if="field.show_type === 'primarykey'" :to="'/detail/' + moduleName + '/' + value">{{ value }}</router-link>

    <!-- foreignkey -->
    <router-link v-else-if="field.show_type === 'foreignkey'" :to="'/detail/' + field.module.name + '/' + value">{{ value }}</router-link>

    <!-- datetime -->
    <el-tooltip placement="top" v-else-if="field.show_type === 'datetime'">
        <div slot="content">
            <div class="mb-5">{{formatTime('Asia/Shanghai')}}</div>
            <div class="mb-5">{{formatTime('Europe/London')}}</div>
            <div>{{formatTime('America/Los_Angeles')}}</div>
        </div>
        <span>{{formatTime()}}</span>
    </el-tooltip>

    <!-- other -->
    <span v-else>{{ value }}</span>
</div>
</template>

<script lang="ts">
import {
    Component,
    Vue,
    Prop
} from 'vue-property-decorator'
import moment from 'moment-timezone'

@Component
export default class Field extends Vue {
    @Prop({
        default: false
    }) value!: any
    @Prop({
        default: null
    }) field!: {
        name: string,
        type: string,
        display_name: string,
        show_type: string
        is_primary: string
        module: {
            name: string
        }
    }

    moduleName = ''

    created() {
        const moduleName: string = this.$route.params.moduleName
        this.moduleName = moduleName
    }

    formatTime(tz: string = 'America/Los_Angeles') {
        const {value}: {value: string} = this
        return moment(value).tz(tz).format('YYYY-MM-DD HH:mm:ss z')
    }
}
</script>

<style lang="scss">
.field-container {
    a {
        color: #337ab7;
    }
}
</style>
