<template>
<div class="app-container">
    <el-collapse v-model="activeFilter" accordion>
        <el-collapse-item title="Advanced Filter" name="1">

            <div class="button-group">
                <el-button type="primary" icon="el-icon-search" @click="filter" size="small">Search</el-button>
                <el-button type="success" icon="el-icon-printer" @click="filter" size="small">Save</el-button>
            </div>   
            <vue-query-builder 
                :rules="rules" 
                :labels="{matchTypes: [{id: 'all', label: 'AND'},{id: 'any', label: 'OR'}]}"
                v-model="query">
            </vue-query-builder>

        </el-collapse-item>
        <el-collapse-item title="Simple Filter" name="2">
            
        </el-collapse-item>
    </el-collapse>

    <div class="top-line">
        <div>
            <el-button-group class="mr-20">
                <el-button type="primary" size="small" icon="el-icon-refresh" @click="fetchData">Refresh</el-button>
                <el-button type="primary" size="small" icon="el-icon-download">Export</el-button>
            </el-button-group>

            <el-button-group v-if="pageConfig.top_buttons">
                <el-button v-for="button in pageConfig.top_buttons" size="small" :key="button.name">{{ button.title }}</el-button>
            </el-button-group>
        </div>

        <div class="flex">
            <el-select v-model="inlineSelect" placeholder="fileds" size="small" class="mr-10">
                <el-option :label="field.display_name" :value="field.name" v-for="field in filedsConfig" :key="field.name"></el-option>
            </el-select>
            <el-input placeholder="search..." v-model="inlineSearch" class="input-with-select" size="small" @keyup.enter.native="inlineSearchClick"/>
        </div>
    </div>

    <el-table 
        v-loading="listLoading" 
        :data="list" 
        element-loading-text="Loading" 
        style="width: 100%"
        empty-text="empty..."
        border 
        fit >

        <el-table-column type="selection" width="40" v-if="pageConfig.selection === 'Y'"/>

        <el-table-column align="center" label="#index" width="65" v-if="pageConfig.listIndex === 'Y'">
            <template slot-scope="scope">
                {{ scope.$index }}
            </template>
        </el-table-column>

        <el-table-column 
            v-for="field in filedsConfig"
            :key="field.name"
            align="center" 
            :prop="field.name" 
            :label="field.display_name || field.name" 
            :min-width="field.width" >
            <template slot-scope="scope" v-if="">
                <Fileds :field="field" :value="scope.row[field.name]"/>
            </template>
        </el-table-column>
    </el-table>

    <div class="bottom-line">
        <el-button-group>
            <el-button v-for="button in pageConfig.bottom_buttons" size="small" :key="button.name">{{ button.title }}</el-button>
        </el-button-group>
        <el-pagination
            layout="total, sizes, prev, pager, next, jumper"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="current"
            :page-sizes="pageSizes"
            :page-size="pageSize"
            :total="total">
        </el-pagination>
    </div>
  </div>
</template>

<script lang="ts">
import {getList} from '@/api/page'
import {getConfig} from '@/api/modules'
import {Component, Vue} from 'vue-property-decorator'
import VueQueryBuilder from 'vue-query-builder'
import Fileds from '@/components/fields/index.vue'

@Component({
    filters: {
        statusFilter(status: string) {
            const statusMap: {
                [id: string]: string
            } = {
                published: 'success',
                draft: 'gray',
                deleted: 'danger'
            }
            return statusMap[status]
        }
    },
    components: {
        VueQueryBuilder,
        Fileds
    }
})
export default class List extends Vue {
    listQuery = {}
    list = null
    listLoading = true

    pageSizes = [10, 50, 100, 300]
    pageSize = 10
    current = 0
    total = 0

    config = null
    fieldsMap = {}
    pageConfig = {}
    filedsConfig = []

    activeFilter = '1'
    rules = []
    query = {}
    inlineSelect = ''
    inlineSearch = ''

    // 初始化hook
    async created() {
        const config = await this.fetchConfig()
        console.log('===list==', config)
        if (!config) return
        else {
            this.config = config
            this.formatConfig()
        }
        this.fetchData()
    }

    // 获取配置
    async fetchConfig() {
        const configName: string = this.$route.params.moduleName
        let allModules: any = window.localStorage.getItem('modules')
        if (!configName) return null

        try {
            if (allModules) allModules = JSON.parse(allModules)
        } catch (e) {
            console.log('e: ', e)
            window.localStorage.setItem('modules', '')
            return null
        }

        console.log('allModules: ', allModules)
        if (allModules && allModules[configName]) { // localstroage 有的话直接调用
            return allModules[configName]
        } else { // 没存的话存在本地一份
            const {config}: any = await getConfig(configName) || {config: null}
            if (allModules) {
                allModules[configName] = config
                window.localStorage.setItem('modules',  JSON.stringify(allModules))
            } else {
                const res: any = {}
                res[configName] = config
                window.localStorage.setItem('modules', JSON.stringify(res))
            }

            console.log('config: ', config)
            return config
        }

    }

    // 格式化配置
    formatConfig() {
        const {pages, fields}: {pages: any, fields: any} = this.config || {pages: {}, fields: {}}
        const {layouts, listIndex, selection, select_search, top_buttons, bottom_buttons} = (pages && pages.list) || {layouts: null, listIndex: null, selection: null, select_search: null, top_buttons: null, bottom_buttons: null}
        const {fields: layoutFileds, orderby} = layouts || {fields: null, orderby: null}
        const {field: orderableField} = orderby || {field: null}
        const fieldsMap: any = {}
        const rules: any = []
        let filedsConfig: any = []

        if (!this.config) return

        fields.map((field: any) => {
            console.log('===fields==', field.name, fieldsMap[field.name])
            fieldsMap[field.name] = field
        })

        if (layoutFileds && layoutFileds.length) {
            layoutFileds.map((name: any) => {
                console.log('===layoutFileds==', name, fieldsMap[name])
                if (fieldsMap[name]) {
                    if (orderableField.indexOf(name) > -1) fieldsMap[name].orderable = true
                    filedsConfig.push(fieldsMap[name])
                }
            })
        } else {
            fields.map((field: any) => {
                if (orderableField.indexOf(name) > -1) field.orderable = true
            })

            filedsConfig = fields
        }

        // todo: 自定义展示字段

        fields.map((field: any) => {
            const {name, show_type, display_name} = field
            rules.push({
                id: name,
                type: 'text', // show_type // ['text', "numeric", "custom", "radio", "checkbox", "select", "custom-component"]
                label: display_name || name
            })
        })

        this.pageConfig = {listIndex, selection, select_search, top_buttons, bottom_buttons}
        this.filedsConfig = filedsConfig
        this.fieldsMap = fieldsMap
        this.rules = rules
    }

    fetchData() {
        this.listLoading = true

        getList().then((response: any) => {
            const {data, total} = response
            console.log('response: ', response)

            this.list = data
            this.total = total
            this.listLoading = false
        })
    }

    handleSizeChange(val: number) {
        this.pageSize = val
        this.fetchData()
    }

    handleCurrentChange(val: number) {
        this.current = val
        this.fetchData()
    }

    filter() {
        console.log(this.query)
    }

    inlineSearchClick() {
        console.log(this.inlineSearch, this.inlineSelect)
    }
}
</script>

<style lang="scss" scope>
@import './styles/vueQueryBuild.scss';

.bottom-line,
.top-line {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-line {
     margin-bottom: 10px;
}

.button-group {
    margin-bottom: 18px;
    margin-top: 10px;
}

.el-collapse {
    margin-bottom: 10px;
    border-top: none;
    .el-collapse-item__header {
        text-transform: uppercase;
        font-size: 17px;
    }
}

</style>
