<template>
<div :class="classObj" class="app-wrapper">
    <div v-if="classObj.mobile && sidebar.opened" class="drawer-bg" @click="handleClickOutside" />
    <sidebar class="sidebar-container" />
    <div class="main-container">
        <navbar />
        <app-main />
    </div>
</div>
</template>

<script lang="ts">
import {
    Navbar,
    AppMain,
    Sidebar
} from './components'
import ResizeMixin from './mixin/ResizeHandler'
import {Component, Vue} from 'vue-property-decorator'
import {mixins} from 'vue-class-component'
import {DeviceType, AppModule} from '@/store/modules/app'

@Component({
    components: {
        Navbar,
        Sidebar,
        AppMain
    }
})
export default class Layout extends mixins(ResizeMixin) {
    get classObj() {
        const {sidebar, device} = this
        const {opened, withoutAnimation} = sidebar

        return {
            hideSidebar: !opened,
            openSidebar: opened,
            withoutAnimation,
            mobile: device === DeviceType.Mobile
        }
    }

    handleClickOutside() {
        AppModule.CloseSideBar(false)
    }
}
</script>

<style lang="scss" scoped>
@import "src/styles/mixin.scss";

.app-wrapper {
    @include clearfix;
    position: relative;
    height: 100%;
    width: 100%;

    &.mobile.openSidebar {
        position: fixed;
        top: 0;
    }
}

.drawer-bg {
    background: #000;
    opacity: 0.3;
    width: 100%;
    top: 0;
    height: 100%;
    position: absolute;
    z-index: 999;
}
</style>
