<template>
<div style="padding:30px;">
    <el-alert :closable="false" title="menu 1-2" type="success">
        <router-view />
    </el-alert>
</div>
</template>

<script lang="ts">
export default {}
</script>
