// sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;

$gray: #f4f4f4;
$font_color: #242424;
$font_color_1: #7c7c7c;
$font_color_2: #c7c7c7;
$color_primary: #3b3bea;
$color_hover: #c6e2ff;
$color_5miles: #ff8830;
$phone: 556px;
$minWidth: 332px;
$maxWidth: 1136px;

$media-screen-phone-max: 767px;
$media-screen-min-phone-max: 320px;
$media-screen-tablet-min: 768px;
$media-screen-tablet-max: 991px;
$media-screen-desktop-min: 992px;

$border_1: solid 1px rgba(36, 36, 36, 0.1);
