<template>
<el-scrollbar wrap-class="scrollbar-wrapper">
    <el-menu :show-timeout="200" :default-active="$route.path" :collapse="isCollapse" mode="vertical" background-color="#304156" text-color="#bfcbd9" active-text-color="#409EFF">
        <sidebar-item v-if="menus" v-for="(menu, index) in menus" :key="index" :item="menu" :base-path="menu.path" />
    </el-menu>
</el-scrollbar>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import {AppModule} from '@/store/modules/app'
import {UserModule} from '@/store/modules/user'
import SidebarItem from './SidebarItem.vue'

@Component({
    components: {
        SidebarItem
    }
})
export default class SideBar extends Vue {
    get sidebar() {
        return AppModule.sidebar
    }

    get menus() {
        const {menus} = UserModule
        return menus
    }

    get routes() {
        return (this.$router as any).options.routes
    }

    get isCollapse() {
        return !this.sidebar.opened
    }
}
</script>
