<template>
<div>
    <i class="el-icon" :class="icon" v-if="icon && icon.indexOf('el-icon') === 0"></i>
    <svg-icon v-else-if="icon" :name="icon" />
    <span v-if="title" slot="title">{{title}}</span>
</div>
</template>

<script lang="ts">
import {
    Component,
    Vue,
    Prop
} from 'vue-property-decorator'

@Component
export default class MenuItem extends Vue {
    @Prop({
        default: ''
    }) icon!: string
    @Prop({
        default: ''
    }) title!: string
}
</script>
