<template>
<div class="dashboard-container">
    <div class="dashboard-text">name: {{name}}</div>
    <div class="dashboard-text">roles: <span v-for="(role, index) in roles" :key="role.id">{{role.name + (index === roles.length - 1 ? '' : ', ')}}</span></div>
</div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import {UserModule} from '@/store/modules/user'

@Component
export default class Dashboard extends Vue {
    get name() {
        return UserModule.name
    }

    get roles() {
        return UserModule.roles
    }
}
</script>

<style lang="scss" scoped>

.dashboard {
    &-container {
        margin: 30px;
    }

    &-text {
        font-size: 30px;
        line-height: 46px;
    }
}
</style>
