<template>
<div class="app-container">
    <el-form ref="form" id="queryForm" :model="formQuery" label-width="80px">
        <el-form-item label="用户名">
            <el-input placeholder="用户名" class="query" v-model="formQuery.username" clearable></el-input>
        </el-form-item>
        <el-form-item label="状态">
            <el-select v-model="formQuery.stateVal" placeholder="请选择" clearable>
                <el-option
                    v-for="item in stateOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-button class="searchBtn" type="primary" icon="el-icon-search" @click="search">查询</el-button>
        <el-button class="searchBtn" type="primary" icon="el-icon-plus" @click="add">新增</el-button>
    </el-form>
    <el-table v-loading="listLoading" :data="list" element-loading-text="Loading" fit highlight-current-row>
        <el-table-column
            type="index"
            width="60">
        </el-table-column>
        <el-table-column label="用户名">
            <template slot-scope="scope">
                {{ scope.row.username }}
            </template>
        </el-table-column>
        <el-table-column label="电子邮箱" width="240" align="center">
            <template slot-scope="scope">
                <span>{{ scope.row.email }}</span>
            </template>
        </el-table-column>
        <el-table-column label="创建时间" width="240" align="center">
            <template slot-scope="scope">
                {{ scope.row.createdAt }}
            </template>
        </el-table-column>
        <el-table-column align="center" prop="loginAt" label="最近登录时间" width="240">
            <template slot-scope="scope">
            <em v-if="scope.row.loginAt" class="el-icon-time"/>
            <span>{{ scope.row.loginAt }}</span>
        </template>
      </el-table-column>
        <el-table-column class-name="status-col" label="状态" width="110" align="center">
            <template slot-scope="scope">
                <el-tag :type="scope.row.state | statusFilter">{{ scope.row.state | statusFmt }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column
            fixed="right"
            label="操作"
            width="180"
            align="center">
            <template slot-scope="scope">
                <el-button @click="updateState(scope.row)" type="text" size="small">启用/禁用</el-button>
                <el-button type="text" size="small" @click="del(scope.row.id)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <div class="pagination-container">
        <el-pagination
            @size-change="handlePageChange"
            @current-change="handlePageChange"
            :current-page.sync="listQuery.pageNum"
            :page-sizes="[10, 20, 30, 50]"
            :page-size.sync="listQuery.pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
        </el-pagination>
    </div>
    <el-dialog title="新增用户" :visible.sync="addDialog" width="450px">
        <el-form id="addForm" :model="addForm" :rules="rules" ref="addFormEl">
            <el-form-item prop="username" label="用户名" :label-width="formLabelWidth">
                <el-input v-model="addForm.username" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item prop="password" label="初始密码" :label-width="formLabelWidth">
                <el-input v-model="addForm.password" type="password" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item prop="rePassword" label="重复密码" :label-width="formLabelWidth">
                <el-input v-model="addForm.rePassword" type="password" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="邮箱" prop="email" :label-width="formLabelWidth">
                <el-input v-model="addForm.email" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="addDialog = false">取 消</el-button>
            <el-button type="primary" @click="addSave" :loading="addLoading">确 定</el-button>
        </div>
    </el-dialog>
  </div>
</template>

<script lang="ts">
import { getList, updateAdd, del } from '@/api/user'
import { Vue, Component, Ref } from 'vue-property-decorator'
import { Form } from 'element-ui'

@Component({
  filters: {
    statusFilter(status: number) {
      const statusMap: {
        [id: string]: string;
      } = {
        1: 'primary',
        0: 'danger'
      }
      return statusMap[status]
    },
    statusFmt(status: number) {
      const statusMap: {
        [id: string]: string;
      } = {
        1: '生效',
        0: '禁用'
      }
      return statusMap[status]
    }
  }
})
export default class Table extends Vue {
    list = null
    listLoading = true
    listQuery = {
        pageSize: 10,
        pageNum: 1
    }
    formQuery = {
        username: '',
        stateVal: ''
    }
    total = 0
    stateOptions = [
        {
            label: '生效',
            value: '1'
        },
        {
            label: '禁用',
            value: '0'
        }
    ]
    // 新增用户
    addDialog = false
    formLabelWidth = '100px'
    addForm = {
        username: 'admin678',
        password: '123456',
        rePassword: '123456',
        email: ''
    }
    addLoading = false
    @Ref() addFormEl!: Form

    validateRepass = (rule: any, value: string, callback: any) => {
        if (value === '') {
          callback(new Error('请再次输入密码'))
        } else if (value !== this.addForm.password) {
          callback(new Error('两次输入密码不一致!'))
        } else {
          callback()
        }
    }

    validateEmail = (rule: any, value: string, callback: any) => {
        if (value === '') {
            callback()
        } else if (!/^[a-zA-Z0-9\.\-]+@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(value)) {
            callback(new Error('邮箱格式错误'))
        } else {
            callback()
        }
    }

    rules = {
        username: [{ required: true, message: '请输入用户名', trigger: 'blur' }],
        password: [
            { required: true, message: '请输入密码', trigger: 'blur' },
            { min: 6, message: '密码长度必须至少为6位', trigger: 'blur' }
            ],
        rePassword: [{
            required: true,
            trigger: 'blur',
            validator: this.validateRepass
        }],
        email: [{
            trigger: 'blur',
            validator: this.validateEmail
        }]
    }

    created() {
        this.fetchData()
    }

    fetchData() {
        this.listLoading = true
        const params = {...this.listQuery, ...this.formQuery, state: -1}
        if (this.formQuery.stateVal !== '') {
            params.state = +this.formQuery.stateVal
        }
        getList(params).then(graphRes => {
            this.list = graphRes.userList.list
            this.total = graphRes.userList.total
            this.listLoading = false
        })
    }

    handlePageChange() {
        this.fetchData()
    }

    search() {
        this.listQuery.pageNum = 1
        this.fetchData()
    }

    add() {
        console.log(Ref, 'ref', Form)
        if (this.addFormEl) {
            this.addFormEl.resetFields()
        }
        this.addDialog = true
    }

    addSave() {
        this.addFormEl.validate((valid: any) => {
            if (valid) {
                this.addLoading = true
                updateAdd(this.addForm).then(graphRes => {
                    const res = graphRes.userUpdateAdd
                    this.$message({
                        message: '添加成功',
                        type: 'success'
                    })
                    this.addDialog = false
                    this.fetchData()
                    this.addLoading = false
                }).catch(err => {
                    console.log('捕获错误~~~~', err)
                    this.addLoading = false
                })
            }
        })
    }

    updateState(user: any) {
        this.$confirm(`确定要${user.state === 1 ? '禁用' : '启用'}该用户吗？`)
            .then(_ => {
                updateAdd({id: user.id, state: user.state === 0 ? 1 : 0}).then(res => {
                    this.fetchData()
                })
            })
    }

    del(id: string) {
        this.$confirm('删除之后无法恢复，确认删除该条数据吗？')
            .then(_ => {
                del(id).then(res => {
                    console.log(res, '删除结果为~~~')
                    this.fetchData()
                })
            })
    }
}
</script>

<style scoped lang="scss">
#queryForm {
    display: flex;
    padding-bottom: 20px;
    .el-form-item {
        margin-bottom: 0;
    }
    .searchBtn {
        margin-left: 20px;
    }
}
.query {
    width: 180px
}

.pagination-container {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
}

</style>
