<template>
<div class="detail-container" v-loading="detailLoading">

    <div class="summary-container block">
        <header class="flex mb-25">
            <div class="title">{{baseConfig.name}}</div>
        </header>
        <div class="detail-buttons">
            <div class="detail-button-item">
                <el-row>
                    <el-button type="primary">Save</el-button>
                </el-row>

            </div>
        </div>
        <div class="table-container">
            <div v-for="filed in this.filedsConfig">
                <div v-if="filed.show_type === null">
                    <el-row :gutter="2">
                        <el-col :span="8"><div class="grid-content bg-purple">{{filed.name}}</div></el-col>
                        <el-col :span="16">
                            <div class="grid-content bg-purple-light">
                                <el-input v-model="data[filed.name]" placeholder="请输入内容"></el-input>
                            </div>
                        </el-col>
                    </el-row>
                </div>
                <div v-if="filed.show_type === 'primarykey'">
                    <el-row :gutter="2">
                        <el-col :span="8"><div class="grid-content bg-purple">{{filed.name}}</div></el-col>
                        <el-col :span="16">
                                {{data[filed.name]}}
                        </el-col>
                    </el-row>
                </div>
                <div v-if="filed.show_type === 'datetime'">
                    <el-row :gutter="2">
                        <el-col :span="8"><div class="grid-content bg-purple">{{filed.name}}</div></el-col>
                        <el-col :span="16">
                            <el-date-picker
                                v-model="data[filed.name]"
                                type="date"
                                placeholder="选择日期">
                            </el-date-picker>
                        </el-col>
                    </el-row>
                </div>
                <div v-if="filed.show_type === 'select'">
                    <el-row :gutter="2">
                        <el-col :span="8"><div class="grid-content bg-purple">{{filed.name}}</div></el-col>
                        <el-col :span="16">
                            <el-select v-model="data[filed.name]" placeholder="请选择">
                                <el-option
                                    v-for="item in testoOtions"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-col>
                    </el-row>
                </div>
            </div>
        </div>
    </div>

    <el-tabs type="border-card">
        <el-tab-pane label="Tabs"></el-tab-pane>
        <el-tab-pane label="Tab1"></el-tab-pane>
        <el-tab-pane label="Tab2"></el-tab-pane>
    </el-tabs>

</div>
</template>

<script lang="ts">
import {getDetail} from '@/api/page'
import {getConfig} from '@/api/modules'
import {Component, Vue, Prop} from 'vue-property-decorator'

@Component
export default class Detail extends Vue {
    @Prop({
        default: false
    }) value!: any

    detailLoading = false

    config = null
    fieldsMap = {}
    pageConfig = {}
    filedsConfig = []
    baseConfig = {}
    data = {}

    testoOtions = [{value: '1', lable: 'hello'}]

    // 初始化hook
    async created() {
        const config = await this.fetchConfig()
        console.log('=====', config)
        if (!config) return
        else {
            this.config = config
            await this.formatConfig()
        }
        this.fetchData()
    }

    // 获取配置
    async fetchConfig() {
        const configName: string = this.$route.params.moduleName
        let allModules: any = window.localStorage.getItem('modules')
        if (!configName) return null

        try {
            if (allModules) allModules = JSON.parse(allModules)
        } catch (e) {
            console.log('e: ', e)
            window.localStorage.setItem('modules', '')
            return null
        }

        console.log('allModules: ', allModules)
        if (allModules && allModules[configName]) { // localstroage 有的话直接调用
            return allModules[configName]
        } else { // 没存的话存在本地一份
            const {config}: any = await getConfig(configName) || {config: null}
            if (allModules) {
                allModules[configName] = config
                window.localStorage.setItem('modules',  JSON.stringify(allModules))
            } else {
                const res: any = {}
                res[configName] = config
                window.localStorage.setItem('modules', JSON.stringify(res))
            }

            console.log('config: ', config)
            return config
        }

    }

    // 格式化配置
    async formatConfig() {
        const {pages, fields, base}: {pages: any, fields: any, base: any} = this.config || {pages: {}, fields: {}, base: {}}
        const {layouts, top_buttons} = (pages && pages.detail) || {layouts: null, top_buttons: null}
        const {summary, groups} = layouts || {summary: null, groups: null}
        const fieldsMap: any = {}
        let filedsConfig: any = []

        if (!this.config) return

        fields.map((field: any) => {
            fieldsMap[field.name] = field
        })

        filedsConfig = fields

        this.pageConfig = {top_buttons}
        this.filedsConfig = filedsConfig
        this.fieldsMap = fieldsMap
        this.baseConfig = base
        console.log('==filedsConfig===', JSON.stringify(this.filedsConfig))
        console.log('==fieldsMap===', JSON.stringify(this.fieldsMap))
        console.log('==baseConfig===', JSON.stringify(this.baseConfig))
    }

    fetchData() {
        const id: any = this.$route.params.id
        this.detailLoading = true

        getDetail(id).then((response: any) => {
            this.data = response.data
            console.log('response: ', this.data)
            this.detailLoading = false
        })
    }
}
</script>

<style lang="scss">
.detail-container {
    padding: 25px;
    .el-tabs {
        margin-bottom: 20px;
        box-shadow: none
    }
    // .el-tabs__header {
    //     margin-bottom: 0;
    // }
    .el-tabs__content {
        // border: 1px solid #e4e7ed;
        // border-top: none;
        min-height: 100px;
        padding: 16px;
    }

    .summary-container {
        .title {
            font-size: 20px;
        }
        min-height: 130px;
        padding: 16px;
        margin-bottom: 20px;
    }
}
.el-row {
    margin-bottom: 10px !important;
    &:last-child {
        margin-bottom: 0;
    }
}
.el-col {
    border-radius: 4px;
}
.bg-purple-dark {
    background: #99a9bf;
}
.bg-purple {
    background: #d3dce6;
}
.bg-purple-light {
    background: #e5e9f2;
}
.grid-content {
    border-radius: 4px;
    min-height: 36px;
}
.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}
</style>
