<template>
<div id="app">
    <router-view :key="key"/>
</div>
</template>

<script lang="ts">
import {
    Component,
    Vue
} from 'vue-property-decorator'

@Component
export default class App extends Vue {
    get key() {
        const name: string = this.$route.name || ''
        return name + +new Date()
    }
}
</script>
