<template>
<div class="login-container">
    <el-form ref="loginForm" :model="loginForm" :rules="loginRules" class="login-form" auto-complete="on" label-position="left">
        <h3 class="title">orca</h3>
        <el-form-item prop="username">
            <span class="svg-container">
                <svg-icon width="1.3em" height="1.3em" name="user"/>
            </span>
            <el-input v-model="loginForm.username" name="username" type="text" auto-complete="on" placeholder="用户名" />
        </el-form-item>
        <transition name="slide">
            <el-form-item prop="email" v-if="isRegister">
                <span class="svg-container el-icon-message">
                </span>
                <el-input v-model="loginForm.email" name="email" type="text" auto-complete="on" placeholder="邮箱" />
            </el-form-item>
        </transition>
        <el-form-item prop="password">
            <span class="svg-container">
                <svg-icon name="password"/>
            </span>
            <el-input :type="showPwd ? '' : 'password'" v-model="loginForm.password" name="password" auto-complete="on" placeholder="密码" @keyup.enter.native="handleLogin" />
            <span class="show-pwd" @click="showPwd = !showPwd">
                <svg-icon :name="showPwd ? 'eye-open' : 'eye'" />
            </span>
        </el-form-item>
        <transition name="slide">
            <el-form-item prop="rePassword" v-if="isRegister">
                <span class="svg-container">
                    <svg-icon name="password"/>
                </span>
                <el-input :type="showPwd ? '' : 'password'" v-model="loginForm.rePassword" name="rePassword" auto-complete="on" placeholder="确认密码" @keyup.enter.native="handleLogin" />
            </el-form-item>
        </transition>
        <el-form-item>
            <el-button :loading="loading" type="primary" style="width:100%;" @click.native.prevent="handleLogin">
                {{isRegister ? '注册并登录' : '登录'}}
            </el-button>
        </el-form-item>
        <div class="tips">
            <span>测试用户: test</span>
            <span>测试密码: 123456</span>
            <span class="register fr clickable" @click="isRegister = !isRegister">{{isRegister ? '已有账号，切换登录' : '新用户注册'}}</span>
        </div>
    </el-form>
</div>
</template>

<script lang="ts">
import {
    Component,
    Vue,
    Watch
} from 'vue-property-decorator'

import {UserModule} from '@/store/modules/user'
import {Form as ElForm} from 'element-ui'
import {Route} from 'vue-router'
import {isValidUsername} from '@/utils/validate'

const validatePass = (rule: any, value: string, callback: any) => {
    if (value.length < 5) {
        callback(new Error('密码不能小于5位'))
    } else {
        callback()
    }
}

const validateUsername = (rule: any, value: string, callback: any) => {
    if (!value.length) {
        callback(new Error('用户名不能为空'))
    } else {
        callback()
    }
}

const validateEmail = (rule: any, value: string, callback: any) => {
    if (!/^[a-zA-Z0-9\.\-]+@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(value)) {
        callback(new Error('邮箱格式错误'))
    } else {
        callback()
    }
}

@Component
export default class Login extends Vue {
    loginForm = {
        username: 'admin',
        email: '',
        password: '',
        rePassword: ''
    }
    loginRules = {
        username: [{
            required: true,
            trigger: 'blur',
            validator: validateUsername
        }],
        password: [{
            required: true,
            trigger: 'blur',
            validator: validatePass
        }],
        email: [{
            required: true,
            trigger: 'blur',
            validator: validateEmail
        }],
        rePassword: [{
            required: true,
            trigger: 'blur',
            validator: this.validateRepass
        }]
    }
    loading = false
    showPwd = false
    isRegister = false
    redirect: string | undefined = undefined
    validateRepass = (rule: any, value: string, callback: any) => {
        if (value === '') {
          callback(new Error('请再次输入密码'))
        } else if (value !== this.loginForm.password) {
          callback(new Error('两次输入密码不一致!'))
        } else {
          callback()
        }
      }

    @Watch('$route', {
        immediate: true
    })
    OnRouteChange(route: Route) {
        // TODO: remove the "as string" hack after v4 release for vue-router
        // See https://github.com/vuejs/vue-router/pull/2050 for details
        this.redirect = route.query && route.query.redirect as string
    }

    handleLogin() {
        (this.$refs.loginForm as ElForm).validate(async (valid: boolean) => {
            if (valid) {
                this.loading = true
                if (this.isRegister) {
                    UserModule.Register(this.loginForm).then(res => {
                        console.log('res11111: ', res)
                        this.loading = false
                        // graphql-request没有拦截器所以等刷新页面才能重新赋值 headers token
                        this.$router.push({
                            path: this.redirect || '/'
                        })
                        // window.location.href = this.redirect || '/'
                    }).catch(_ => {
                        this.loading = false
                    })
                } else {
                    UserModule.Login(this.loginForm).then(res => {
                        console.log('Login  res: ', res)
                        this.loading = false
                        // graphql-request没有拦截器所以等刷新页面才能重新赋值 headers token
                        this.$router.push({
                            path: this.redirect || '/'
                        })
                        // window.location.href = this.redirect || '/'
                    }).catch(_ => {
                        this.loading = false
                    })
                }
            } else {
                console.error('Login: error submit!!')
                return false
            }
        })
    }
}
</script>

<style lang="scss">
$bg:#2d3a4b;
$light_gray:#eee;

/* reset element-ui css */
.login-container {
    overflow-y: auto;
    .el-input {
        display: inline-block;
        height: 47px;
        width: 85%;

        input {
            background: transparent;
            border: 0px;
            -webkit-appearance: none;
            border-radius: 0px;
            padding: 12px 5px 12px 15px;
            color: $light_gray;
            height: 47px;

            &:-webkit-autofill {
                box-shadow: 0 0 0px 1000px $bg inset !important;
                -webkit-box-shadow: 0 0 0px 1000px $bg inset !important;
                -webkit-text-fill-color: #fff !important;
            }
        }
    }

    .el-form-item {
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        color: #454545;
    }
}
</style>

<style lang="scss" scoped>
// 只作用当前组件

$bg:#2d3a4b;
$dark_gray:#889aa4;
$light_gray:#eee;

.login-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: $bg;

    .login-form {
        position: absolute;
        left: 0;
        right: 0;
        width: 520px;
        max-width: 100%;
        padding: 35px 35px 15px 35px;
        margin: 120px auto;
    }

    .tips {
        font-size: 14px;
        color: #fff;
        margin-bottom: 10px;

        span {
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }

        .register {
            float: right;
        }
    }

    .svg-container {
        padding: 6px 5px 6px 15px;
        color: $dark_gray;
        vertical-align: middle;
        width: 30px;
        display: inline-block;
    }

    .title {
        font-size: 26px;
        font-weight: 400;
        color: $light_gray;
        margin: 0px auto 40px auto;
        text-align: center;
        font-weight: bold;
    }

    .show-pwd {
        position: absolute;
        right: 10px;
        top: 7px;
        font-size: 16px;
        color: $dark_gray;
        cursor: pointer;
        user-select: none;
    }
}
</style>
